.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #171a1b;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

.gallery_container {
    display: flex;
    flex-direction: column;
    padding: 2rem 6rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.gallery_image {
    position: relative !important;
    width: auto;
    height: 90vh;
    object-fit: cover;
    margin-bottom: 4rem;
}

.pathname {
    color: white;
    font-size: 4rem;
}

.location_text {
    position: fixed;
    bottom: 0;
    left: 5rem;
    font-size: 4rem;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    opacity: .8;
}

/* Mobile */
@media (max-width: 700px) {
    .gallery_container {
        padding: 2rem;
    }
    .gallery_image {
        width: auto;
        height: 30vh;
        object-fit: contain;
    }
    
}
