.main {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background-color: #171a1b;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

.main ul {
    list-style-type: none;
    z-index: 10;
    padding: 4rem;
}

.main li {
    font-size: 5rem;
    transition: clip-path 1s;
    position: relative;
}

.location {
    display: block;
    position: absolute;
    inset: 0;
    pointer-events: all;
}

.location_ghost {
    position: absolute;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    opacity: .3;
    cursor: pointer;
}

.image_container {
    position: absolute;
    top: 10vh;
    left: 30vw;
    width: 60vw;
    height: 33vw;
    pointer-events: none;
    z-index: -10;
}
.tag_image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    object-fit: cover;
    height: 70vh;
}
.hidden {
    opacity: 0;
}

/* Mobile */
@media (max-width: 700px) {
    .main ul {
        padding: 2rem 4rem;
    }

    .main li {
        font-size: 2rem;
        transition: none;
        position: relative;
        padding-bottom: .5rem;
    }

    .navbar_container {
        width: 10vw;
    }

    .navbar_logo {
        height: 10vw;
        width: 10vw;
    }
    .logo_circle {
        border: 2px solid #ddd;
        font-size: .7rem;
        height: 8vw;
        width: 8vw;
    }

    .location {
        visibility: hidden;
        position: absolute;
    }
    
    .location_ghost {
        visibility: hidden;
        position: absolute;
        color: white;
        font-family: Helvetica, Arial, sans-serif;
        opacity: .3;
    }
}