.main {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background-color: #171a1b;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

.main ul {
    list-style-type: none;
    z-index: 10;
    padding: 4rem;
}

.main li {
    font-size: 5rem;
    transition: clip-path 1s;
    position: relative;
}

.location {
    display: block;
    position: absolute;
    inset: 0;
    pointer-events: all;
}

.location_ghost {
    position: absolute;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    opacity: .3;
    cursor: pointer;
}

.image_container {
    position: absolute;
    top: 10vh;
    left: 30vw;
    width: 60vw;
    height: 33vw;
    pointer-events: none;
    z-index: -10;
}
.tag_image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    object-fit: cover;
    height: 70vh;
}
.hidden {
    opacity: 0;
}

.navbar_container {
    display: flex;
    flex-direction: column;
    background-color: #171a1b;
    border: 1px solid #444;
    align-items: center;
    height: 100vh;;
    width: 5vw;
    z-index: 10;
    box-sizing: border-box;
}

.navbar_logo {
    height: 5vw;
    width: 5vw;
    border-bottom: 1px solid #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_circle {
    height: 4vw;
    width: 4vw;
    border: 3px solid #ddd;
    color: #ddd;
    padding-top: 4px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 10px 0px;
}

.links_container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #444;
    margin-bottom: 10px;
}

.navbar_section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    padding-left: 4px;   
}

.navbar_section::after {
    display: inline-block;
    content: '';
    height: 100%;
    width: 4px;
    right: -18px;
    position: relative;
    background-color: rgb(109, 168, 109);
    transform-origin: 50% 100%;
    transform: scaleY(0);
    transition: all 1s;
}

.navbar_section:hover::after {
    transform: scaleY(1);
}

/* Mobile */
@media (max-width: 700px) {
    .main ul {
        padding: 2rem 4rem;
    }

    .main li {
        font-size: 2rem;
        transition: none;
        position: relative;
        padding-bottom: .5rem;
    }

    .navbar_container {
        width: 10vw;
    }

    .navbar_logo {
        height: 10vw;
        width: 10vw;
    }
    .logo_circle {
        border: 2px solid #ddd;
        font-size: .7rem;
        height: 8vw;
        width: 8vw;
    }

    .location {
        visibility: hidden;
        position: absolute;
    }
    
    .location_ghost {
        visibility: hidden;
        position: absolute;
        color: white;
        font-family: Helvetica, Arial, sans-serif;
        opacity: .3;
    }
}